<div local-class="component">
  <header local-class="controls">
    <div>
      <input
        type="checkbox"
        checked={{this.areAllSelected}}
        {{indeterminate this.areSomeSelected}}
        {{on 'change' this.toggleAll}}
        />
    </div>

    <div local-class="selections">Selected {{this.count}}</div>

    <button local-class="download" type="button" {{on 'click' this.download}}>
      <svg xmlns="http://www.w3.org/2000/svg" class="download-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" >
        <path d="M12 17V3" />
        <path d="m6 11 6 6 6-6" />
        <path d="M19 21H5" />
      </svg>
      <span local-class="download-label">Download Selected</span>
    </button>
  </header>

  <table local-class="table">
    <colgroup>
      <col local-class="col-checkbox" />
      <col local-class="col-name" />
      <col local-class="col-device" />
      <col />
      <col local-class="col-icon" />
      <col local-class="col-status" />
    </colgroup>
    <thead local-class="table-head">
      <td local-class="header"></td>
      <td local-class="header">Name</td>
      <td local-class="header">Device</td>
      <td local-class="header">Path</td>
      <td local-class="header"></td>
      <td local-class="header">Status</td>
    </thead>
    <tbody>
      {{#each @files as |file index|}}
        <tr local-class="row {{apply-fn this.isActive this.selectedState index}}" >
          <td>
            <input
              type="checkbox"
              {{on 'change' (fn this.toggle index)}}
              checked={{apply-fn this.isChecked this.selectedState index}} />
          </td>
          <td>
            {{file.name}}
          </td>
          <td>
            {{file.device}}
          </td>
          <td>
            <span local-class="concat">
              {{file.path}}
            </span>
          </td>
          <td>
            <FileIcon @file={{file}} />
          </td>
          <td>
            <FileStatus @file={{file}} />
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>