{{page-title "Index"}}

<ol>
  {{#each this.model as |file|}}
    <li>
      {{file.name}}
      {{file.device}}
      {{file.path}}
      <FileStatus @file={{file}} />
    </li>
  {{/each}}
</ol>

{{outlet}}